html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}

.App {
  background: #292929 0% 0% no-repeat padding-box;
  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-position: -47px 1px;
  flex: 1;
  padding: 17px 24px;
  text-align: center;
}

.header {
  margin-bottom: 27px;
}

.title {
  color: #f3aa00;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.36px;
  text-align: left;
}
