html {
  font-size: 16px;
}

body {
  background: #292929 0% 0% no-repeat padding-box;
  background-image: url("./img/background.svg");
  background-repeat: no-repeat;
  background-position: -47px 1px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#root {
  height: 100%;
}

.App {
  /* height: 100vh; */
  padding: 17px 24px;
  position: relative;
}

.page {
  margin: 0 auto;
  max-width: 1140px;
}

.title {
  color: #f3aa00;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.36px;
  text-align: left;
}

.subtitle {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

form label {
  color: #fff;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 16px;
}

form .input,
form textarea {
  background-color: #fff;
  border: 1px solid #dededf;
  border-radius: 4px;
  box-sizing: border-box;
  height: 38px;
  padding: 8px 17px;
  width: 311px;
}

form .input::-webkit-input-placeholder {
  color: #121212;
  opacity: 0.5;
}

form .input::-moz-placeholder {
  color: #121212;
  opacity: 0.5;
}

form .input--sm {
  width: 111px;
}

form textarea + small {
  color: #fff;
  display: block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

form .maskedInput {
  position: relative;
}

form .mask {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  left: 17px;
  position: absolute;
  top: 10px;
}

form .maskedInput .input {
  padding-left: 38px;
}

form .btn {
  border-radius: 4px;
  border: none;
  height: 42px;
}

form .btn--submit {
  background-color: #f3aa00;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 90px;
  max-width: 311px;
  width: 100%;
}

.btn-arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  padding: 4px;
}

.btn-arrow--left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
